fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
sqlalchemy
psycopg2-binary
email-validator
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart
PyMuPDF
python-docx
pytesseract
Pillow
sentence-transformers
qdrant-client
httpx
rank-bm25