fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
sqlalchemy
psycopg2-binary
email-validator
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart
PyMuPDF
python-docx
pytesseract
Pillow
sentence-transformers
qdrant-client
httpx
rank-bm25
ragas==0.1.21
datasets==2.20.0
langchain-community==0.2.16
langchain-mistralai==0.1.13
redis==5.0.8
pytest==8.3.3
pytest-cov==5.0.0